.taskPreviewContainer {
    position: relative;
    width: 90%;
    max-height: 21.875rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.taskPreviewContainer2 {
    position: relative;
    width: 84%;
    max-height: 15.625rem;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

.taskTitleLink {
    font-size: 0.8125rem;
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
}

.taskTitleLink:hover {
    color: #0056b3;
}

.lockInfo {
    max-width: 4.375rem;
    font-size: 0.75rem;
    margin: 0;
    color: #666;
}

.taskPreviewTitle {
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
    border-bottom: 1px solid #ccc;
}

.taskInfo {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    flex: 1;
}

.taskInfo h4 {
    margin: 0;
    font-size: 1.125rem;
}

.taskInfo p {
    margin: 0;
    font-size: 0.875rem;
    color: #555;
}

.teacherActions {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.lockSettings {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.lockSettings input[type="date"],
.lockSettings input[type="time"] {
    padding: 0.3125rem;
    font-size: 0.875rem;
}


@media (max-width: 768px) {
    .taskPreviewContainer{
        width: 85%;
        padding: 1rem;
    }
    .taskPreviewContainer2 {
        width: 90%;
        padding: 1rem;
    }
    .taskPreviewTitle {
        font-size: 1.25rem;
    }

    .teacherActions {
        gap: 0.5rem;
    }

    .lockSettings input[type="date"],
    .lockSettings input[type="time"] {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .taskPreviewContainer,
    .taskPreviewContainer2 {
        width: 80%;
        padding: 0.75rem;
    }

    .taskTitleLink {
        font-size: 0.75rem;
    }

    .taskPreviewTitle {
        font-size: 1.125rem;
    }


    .taskInfo h4 {
        font-size: 1rem;
    }

    .taskInfo p {
        font-size: 0.75rem;
    }

    .teacherActions {
        gap: 0.375rem;
    }

    .lockSettings input[type="date"],
    .lockSettings input[type="time"] {
        font-size: 0.75rem;
    }
}
